extends layout

block content

  h1 #{question.question}
  if question.answered === false
    form(method='post', action='/question/#{question.id}/post')
      input(type='text', placeholder='Answer...', name='answer', id='answer', required, autofocus, pattern='.{5,}')
      input(type='submit')
  else
    h2 #{question.answer}
