extends layout

block content
  .questions-page
    h1 Answered Questions
    
    each q in questions
      .question
        a(href="/question/#{q.id}")
          ul
            li Q: #{q.question}
            li A: #{q.answer}
